html {
	font-family: Ubuntu, sans-serif;
	font-weight: 400;
}

body * {
	box-sizing: border-box;
}

.contein {
	max-width: 1250px;
	margin: 0px auto;
	padding: 0px 15px;
}

.article {
	font-family: Oswald;
	font-weight: 600;
	font-size: 48px;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
}
