.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #d3cbd9;
}

.phone-info {
	text-align: right;
}

.phone-info p {
	margin-bottom: 8px;
}

.phone-info a {
	font-weight: 500;
	font-size: 18px;
	color: #2c332f;
	transition: 0.15s;
}

.phone-info a:hover {
	color: #00ddff;
}
