:root {
  /* font-family */
  --font-family: "Gotham Pro", sans-serif;
  --third-family: "Latin CT", sans-serif;

  /* colors */
  --main-text-color: #fff;
  --active-text-button: #000;
  --secondary-text-color: #eae9e9;
  --bg-color: #0e0e12;

  /* container */
  --container-width: 1575px;
  --container-padding: 15px;

  /* transitions */
  --transition-time: 0.2s;
}
