.header__controls {
  display: flex;
  align-items: center;
}

@media (width > 992px) {
  .header__controls {
    gap: 20px;
  }
}

@media (width <= 992px) {
  .header__controls {
    margin-left: auto;
    gap: 8px;
  }
}

.button__secondary {
  white-space: nowrap;
}

@media (width > 576px) {
  .button__secondary {
    padding-block: 24px;
    padding-inline: 35px;
  }
}

@media (width <= 576px) {
  .button__secondary {
    /* min-width 375px max-width 576px */
    padding-block: clamp(6px, -1.724rem + 8.96vw, 24px);
    padding-inline: clamp(8px, -2.648rem + 13.43vw, 35px);
    border-radius: 4px;
  }
}

@media (width > 576px) {
  .button__tertiary {
    padding-block: 21px;
    padding-inline: 28px;
  }
}

@media (width <= 576px) {
  .button__tertiary {
    /* min-width 375px max-width 576px */
    padding-block: clamp(6px, -1.374rem + 7.46vw, 21px);
    padding-inline: clamp(8px, -1.832rem + 9.95vw, 28px);
    border-radius: 4px;
  }
}
