.header__controls {
  display: flex;
  align-items: center;
}

@media (width > 992px) {
  .header__controls {
    gap: 20px;
  }
}

@media (width <= 992px) {
  .header__controls {
    margin-left: auto;
    gap: 8px;
  }
}

.button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--main-text-color);
  transition:
    box-shadow var(--transition-time),
    background var(--transition-time),
    color var(--transition-time);
}

@media (width <= 576px) {
  .button {
    font-size: 12px;
  }
}

@media (any-hover: hover) {
  .button:hover {
    color: var(--active-text-button);
    background: linear-gradient(
      87.05deg,
      #dc6b30 17.98%,
      #e4864f 49.63%,
      #ffbe82 72.68%,
      #e49031 93%
    );
    font-weight: 700;
    box-shadow:
      inset 0 -4px 0 0 #8f4119,
      0 3px 49px -3px rgba(226, 128, 72, 0.76);
  }
}

.button__primary {
  padding-inline: 35px;
}

.button__secondary {
  border: 1px solid #fda919;
  border-radius: 20px;
  white-space: nowrap;
}

@media (width > 576px) {
  .button__secondary {
    padding-block: 24px;
    padding-inline: 35px;
  }
}

@media (width <= 576px) {
  .button__secondary {
    /* min-width 375px max-width 576px */
    padding-block: clamp(6px, -1.724rem + 8.96vw, 24px);
    padding-inline: clamp(8px, -2.648rem + 13.43vw, 35px);
    border-radius: 4px;
  }
}

.button__tertiary {
  border: 1px solid #fda919;
  border-radius: 20px;
}

@media (width > 576px) {
  .button__tertiary {
    padding-block: 21px;
    padding-inline: 28px;
  }
}

@media (width <= 576px) {
  .button__tertiary {
    /* min-width 375px max-width 576px */
    padding-block: clamp(6px, -1.374rem + 7.46vw, 21px);
    padding-inline: clamp(8px, -1.832rem + 9.95vw, 28px);
    border-radius: 4px;
  }
}
