.features {
  margin-bottom: 143px;
}

.features__title {
  text-align: center;
  margin-bottom: 80px;
}

.features__panel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(378px, 1fr));
  gap: 20px;
}

.features__item {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  border-radius: 5px;
  background: var(--bg-menu-color);
  text-decoration: none;
  color: var(--main-text-color);
  padding: 40px 34px;
  transition: background var(--transition-time-arrow);
}

.features__item:hover {
  background: var(--bg-push-color);
}

.features__item:hover .features__item-link::after {
  transform: translateX(50%);
}

.features__item-header {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.features__item-title {
  font-weight: 500;
  font-size: 26px;
  line-height: 125%;
  color: var(--main-text-color);
}

.features__item-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 157%;
  color: var(--main-text-color);
}

.features__item-link {
  position: relative;
  margin-left: auto;
  padding-bottom: 2px;
  font-size: 18px;
  margin-top: 20px;
  border-bottom: 1px solid var(--main-text-color);
}

.features__item-link::after {
  content: "→";
  position: absolute;
  right: -20%;
  width: 14px;
  height: 7px;
  transition: transform var(--transition-time);
}
