.header {
  padding-top: 30px;
  padding-bottom: 23px;
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  /* min-width 1400px max-width 1920px */
  margin-right: clamp(20px, -2.452rem + 4.23vw, 42px);
}

.logo__img {
  /* min-width 768px max-width 1400px */
  width: clamp(23px, -0.765rem + 4.59vw, 52px);
  height: clamp(30px, -0.859rem + 5.7vw, 66px);
}

.logo__text {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 119%;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.header__language {
  margin-right: clamp(35px, -3.283rem + 8.82vw, 71px);
  display: flex;
  gap: 6px;
}

@media (width <=992px) {
  .header__language {
    display: none;
  }
}

.header__language-list {
  border: none;
  background-color: var(--bg-color);
  color: var(--main-text-color);
}
