.portfolio-hero {
  margin-bottom: 140px;
}

.portfolio-hero__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 140px;
}

@media (width <= 768px) {
  .portfolio-hero__wrapper {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.portfolio-hero__widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.widget__gauge {
  position: relative;
  max-width: 690px;
  max-height: 360px;
}

.widget__wrapper {
  text-align: center;
  position: absolute;
  right: 35%;
  top: 38%;
}

@media (width <= 576px) {
  .widget__wrapper {
    right: clamp(97px, -4.782rem + 46.27vw, 190px);
    top: clamp(92px, 0.619rem + 21.89vw, 136px);
  }
}

.widget__text {
  font-weight: 300;
  font-size: clamp(12px, 0.477rem + 1.17vw, 30px);
  line-height: 157%;
  color: var(--main-text-color);
}

.widget__title {
  font-weight: 500;
  font-size: clamp(30px, 1.344rem + 2.27vw, 65px);
  line-height: 117%;
  margin-bottom: 15px;
  color: var(--main-text-color);
}

.widget__risk {
  padding-block: 9px;
  padding-inline: 28px;
  margin-bottom: 20px;
  border-radius: 35px;
  background: linear-gradient(
    92.66deg,
    rgba(66, 89, 74, 0.4) 7.9%,
    rgba(101, 204, 125, 0.22) 101.2%
  );
}

.widget__options {
  display: flex;
  flex-direction: column;
}

.widget__options-button {
  display: flex;
  gap: 10px;
}

.widget__options-text {
  font-size: 25px;
}

.portfolio-hero__promo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width <= 768px) {
  .portfolio-hero__promo {
    align-items: center;
  }
}

.portfolio-hero__text {
  font-size: 25px;
  line-height: 158%;
}

.stats__result {
  display: flex;
  flex-direction: column;
}

.portfolio-hero__stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;
}

.stats__result-title {
  font-weight: 700;
  font-size: 70px;
  line-height: 117%;
  background: linear-gradient(90.68deg, #65ca7c 1.74%, #4f815c 27.19%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.stats__result-text {
  font-weight: 500;
  font-size: 26px;
  line-height: 125%;
  text-align: center;
}
