:root {
  /* font-family */
  --font-family: "Gotham Pro", sans-serif;
  --third-family: "Latin CT", sans-serif;

  /* colors */
  --main-text-color: #fff;
  --hover-text-button: #000;
  --secondary-text-color: #eae9e9;
  --bg-color: #0e0e12;
  --bg-menu-color: #1b1b1c;
  --bg-push-color: #1d1d21;

  /* shadows */
  --shadow: #9edfb6;

  /* container */
  --container-width: 1575px;
  --container-padding: 15px;

  /* transitions */
  --transition-time: 0.3s;

  /* layers */
  --layer-negative: -1;
  --layer-0: 0;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
}
