.investment-hero {
  margin-bottom: 140px;
}

.investment-hero__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-bottom: 20px;
}

.investment-hero__reverse {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.investment-hero__content-text {
  font-size: clamp(0.75rem, -0.766rem + 6.47vw, 1.563rem);
}
